<h1 mat-dialog-title>Registrar Banco</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <form (ngSubmit)="onSave($event)" [formGroup]="formGroup" fxLayout="column">
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Nombre del banco</mat-label>
          <input matInput formControlName="detail">
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="code">
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Abreviatura</mat-label>
          <input matInput formControlName="abbr">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar</button>
  <button mat-button cdkFocusInitial (click)="save()">Guardar</button>
</div>
