<h1 mat-dialog-title>Crear usuario</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <form (ngSubmit)="onSave($event)" [formGroup]="formGroup" #formUser fxLayout="column">
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Perfil:</mat-label>
          <mat-select formControlName="profile_id">
            <mat-option *ngFor="let profile of data.profiles" [value]="profile.id">{{ profile.profile }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div fxFlex="100%">
          <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña:</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline">
          <mat-label>Tema:</mat-label>
          <mat-select formControlName="theme">
            <mat-option [value]="'light'">Claro</mat-option>
            <mat-option [value]="'dark'">Oscuro</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar</button>
  <button mat-button cdkFocusInitial (click)="save()">Guardar</button>
</div>
